body {
	text-align: center;
	font-weight: bold;
}

table {
	margin:auto;
	width: 50%;
	border: 1px solid black;
	border-collapse: collapse;
	font-weight: bold;
}

tr, td {
	border: 1px solid black;
}

#attribute {
	background-color: lightslategray;
}

#link {
  text-decoration: none;
  color: black;
}
